<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocolate House Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Chocolate House Management</h1>
    </header>

    <main>
        <h2>Welcome to the Chocolate House!</h2>
        <a href="{{ url_for('view_flavors') }}">View Seasonal Flavors</a><br>
        <a href="add_flavor.html">Add New Seasonal Flavor</a><br>
    </main>
</body>
</html>
